/* master styles */
body{
    margin: 0px;
    font-family: 'Lato',serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.hero {
    height: 100vh;
    background-color: #000;
    background-image: url('images/timothy-dykes-LhqLdDPcSV8-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
/* nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}
.nav-wrapper > .right-side {
    display: flex;
}
.nav-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: .98em;
    text-transform: uppercase;
}
.nav-wrapper > .right-side > .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-wrapper > .right-side > .nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-wrapper > .right-side > .nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}
.nav-wrapper > .right-side > .nav-link-wrapper a:hover {
    color: black;
}
.nav-wrapper > .right-side > .active-nav-link{
    border-bottom: 1px solid black;
}
.nav-wrapper > .right-side > .active-nav-link a{
    color: black !important;
}